@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');

html, body {
    max-height: 100%;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.login-wrapper, .register-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container, .register-container {
    text-align: center;
}


.todo-list-wrapper {
    width: 80%;
    margin: 0 auto;
}

.todo-item-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: "todo btn";
    background-color: #edd5d5;
}

#todo-item {
    grid-area: todo;
    display: grid;
    grid-template-areas: "title" "desc" "type";
}
#todo-item-title {
    grid-area: title;
    
}

#todo-item-desc {
    grid-area: desc;
}

#todo-item-type {
    grid-area: type;
}

#complete-btn {
    grid-area: complete;
    display: inline-block;
    height: 50px;
    width: 50px;
    
}

#delete-btn {
    grid-area: delete;
    display: inline-block;
    height: 50px;
    width: 50px;
    
}

.btn-container {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr fr;
    grid-template-areas: "complete delete";
}

.add-task-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.form input, .form select, .form textarea, .input-group-prepend {
    margin: 8px auto;
}

.icon {
    vertical-align: middle;
}

.task-list-container {
    margin: 10px;
}

.todo-completed {
    background-color: #d3edd3;
}

.todo-item-container {
    margin: 10px 0;
}

.todo-item-container p, .todo-item-container h2 {
    margin: 8px;
}

.user-todo-list-items {
    margin-left: 20px;
}

.input-group {
    width: 85%;
}

.todo-item p {
    margin-left: 50px;
}

.user-todo-list-container {
    width: 50%;
    margin: 10px;
    padding: 20px;
}

.user-todo-item-icon {
    grid-area: icon;
    height: 50px;
    width: 50px;
}

.user-todo-item-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas: "icon list";
    margin: 10px 0;
}

.user-todo-item-list {
    grid-area: list;
}

.user-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}