.add-task-form {
    width: 150px;
    margin: 0;
    box-sizing: border-box;
}

.register-form {
    width: 150px;
    margin: 0;

    box-sizing: border-box;
   
}

.register-form input {
    margin-bottom: 10px;
}

.todo-item {
    background-color: #f3f3f3;
}